<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title">Pessoa Física</span>
            <button pButton (click)="novaPessoa()" label="Novo" icon="pi pi-check"
                class="float-right ui-button-raised ui-button-success"></button>
        </div>
    </p-header>
    <p-table [value]="pessoas" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <!-- dsNome dtNasc dsCpf dsEmail dsTelefone -->
                <th>Nome</th>
                <th>Nascimento</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr>
                <td>{{pessoa.dsNome}}</td>
                <td>{{pessoa.dtNasc}}</td>
                <td>{{pessoa.dsCpf}}</td>
                <td>{{pessoa.dsEmail}}</td>
                <td>{{pessoa.dsTelefone}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>