<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" >Pessoa Jurídica</span>
            <button pButton (click)="novaPessoa()" label="Novo" icon="pi pi-check" class="float-right ui-button-raised ui-button-success"></button>
        </div>
    </p-header>
    <p-table [value]=pessoas>
        <ng-template pTemplate="header">
            <tr>
                <th>CNPJ</th>
                <th>Razão social</th>
                <th>Nome Fantasia</th>
                <th>Telefone</th>
                <th>e-mail</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pj>
            <tr>
                <td>{{pj.dsCnpj}}</td>
                <td>{{pj.dsRazaoSocial}}</td>
                <td>{{pj.dsNomeFantasia}}</td>
                <td>{{pj.dsTelefone}}</td>
                <td>{{pj.dsEmail}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>