<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title">Pessoa Jurídica</span>
            <button pButton (click)="novaPessoa()" label="Novo" icon="pi pi-check"
                class="float-right ui-button-raised ui-button-success"></button>
        </div>
    </p-header>
    <p-table [value]=pessoas [responsive]="true" 
    [paginator]="true" [rows]="10" selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>CNPJ</th>
                <th>Razão social</th>
                <th>Nome Fantasia</th>
                <th>Telefone</th>
                <th>e-mail</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr [pSelectableRow]="pessoa">
                <td>{{pessoa.dsCnpj}}</td>
                <td>{{pessoa.dsRazaoSocial}}</td>
                <td>{{pessoa.dsNomeFantasia}}</td>
                <td>{{pessoa.dsTelefone}}</td>
                <td>{{pessoa.dsEmail}}</td>
                <td style="text-align: center">
                    <a (click)="openGerarContaDialog(pessoa)" pTooltip="Gerar conta" tooltipPosition="top">
                        <span class="pi pi-replay"></span>
                    </a>
                    <a (click)="alterar(pessoa)" pTooltip="Alterar" tooltipPosition="top">
                        <span class="pi pi-pencil"></span>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<app-gerar-conta-dialog [(display)]="exibeGeraConta" title="Gerar conta pessoa física"
    (gerarConta)="gerarConta($event)">
</app-gerar-conta-dialog>